.machine {
  width: 100%;
  max-width: 22%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.icon-machine {
  font-size: 4rem;
}
.name-machine {
  font-size: 1.5rem;
  font-weight: 500;
}

.state-machine {
  font-weight: 500;
}
.color-state{
    border-bottom:4px solid #00ca00;
}
.operatorMachine {
  font-weight: 500;
}
