
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  background-color: #f2f2f2;
}


.bottom {
  display: flex;
  justify-content: end;
}
.circle-top {
  width: 30rem;
  height: 30rem;
  background-color: #291CAB;
  border-bottom: 30px solid #000074;
  border-right: 30px solid #000074;
  border-radius: 100%;
  position: relative;
  left: -6%;
  top: -40%;
  transition: all ease .3s;
}
.circle-bottom {
  width: 20rem;
  height: 20rem;
  background-color: #291CAB;
  border-top: 30px solid #000074;
  border-left: 30px solid #000074;
  border-top-left-radius: 100%;
  bottom: 4%;
}
/*  fin de los estilos de los circulos */