aside{
    width: 100%;
    max-width: 20%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
   position: sticky;
}
.icons{
    width: 100%;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
}

.icons-sidebar{
    font-size: 2.5rem;
    color: #291CAB;
    cursor: pointer;

}

.icon-text{
    width: 100%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #291CAB;
    padding: 0 1rem ;
    border-radius: 5px;
    margin-bottom: 2rem;
}


