/* efectos de los circulos */
.circle-top {
  width: 30rem;
  height: 30rem;
  background-color: #291cab;
  border-bottom: 30px solid #000074;
  border-right: 30px solid #000074;
  border-radius: 100%;
  position: relative;
  left: -6%;
  top: -40%;
  transition: all ease .3s;
}
.circle-bottom {
  width: 20rem;
  height: 20rem;
  background-color: #291cab;
  border-top: 30px solid #000074;
  border-left: 30px solid #000074;
  border-top-left-radius: 100%;
  bottom: 4%;
}
/*  fin de los estilos de los circulos */